<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<form action="{% url 'user:login_student' %}" method="post">
    {% csrf_token %}
    班级:<select name="stu_class">
    {% for ban in all_class %}
    <option>
    {{ ban.name }}
    </option>
    {% endfor %}
        </select>
    学号<input type="text" name="stu_id">
    姓名<input type="text" name="stu_name">
    年龄<input type="text" name="stu_age">
    性别<input type="text" name="stu_gender">
    <input type="submit">
</form>
</body>
</html>