{% extends 'base.html' %}
{% load staticfiles %}
<!-- Begin Wrapper -->
{% block ac %}
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">一片好的文章使人身心愉悦</div>
<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul><!-- End Intro -->

<!-- Begin Container -->
<div class="content box">

	<h1 class="title">页面侧边栏</h1>
	<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

	<div class="outer none"><span class="inset"><img src="{% static 'style/images/art/se1.jpg' %}" alt="" title="" /></span></div>

	<p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
	<h3>Inceptos Mollis</h3>
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
	<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
	<p>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>


</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h3 class="widget-title">受欢迎的文章</h3>
			<ul class="post-list">
			  	<li>
			  		<div class="frame">
			  			<a href="#"><img src="{% static 'style/images/art/s1.jpg' %}" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">迷人的冬天</a></h6>
					    <em>28th Sep 2012</em>
				    </div>
				</li>
				<li>
			  		<div class="frame">
			  			<a href="#"><img src="{% static 'style/images/art/s2.jpg' %}" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">滴流</a></h6>
					    <em>5th Sep 2012</em>
				    </div>
				</li>
				<li>
			  		<div class="frame">
			  			<a href="#"><img src="{% static 'style/images/art/s3.jpg' %}" /></a>
			  		</div>
					<div class="meta">
					    <h6><a href="#">喇叭花</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
			</ul>

	</div>

	<div class="sidebox widget">
		<h3 class="widget-title">搜索</h3>
		<form class="searchform" method="get" action="#">
			<input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='输入要搜索的内容'"/>
		</form>
	</div>

	<div class="sidebox widget">
		<h3 class="widget-title">自定义文本</h3>
		<div> 时刻准备着 </div>
	</div>

	<div class="sidebox widget">
		<h3 class="widget-title">类别</h3>
			<ul>
				<li><a href="#">111</a></li>
				<li><a href="#">花卉</a></li>
				<li><a href="#">滑稽</a></li>
				<li><a href="#">日志</a></li>
				<li><a href="#">景观</a></li>
				<li><a href="#">性质</a></li>
				<li><a href="#">摄影</a></li>
                <li><a href="#">视频</a></li>
		</ul>
</div></div>
<!--End Sidebar -->
<div class="clear"></div>

</div>
{% endblock %}
